<div class="lead"
     style="font-size: 2vw; padding-bottom: 0; margin-bottom: 10px; color: white; text-align: center;">Customers</div>
<table class="table table-striped table-dark">
   <thead>
   <tr class="bg-primary">
      <th scope="col">Customer ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone</th>
   </tr>
   </thead>
   <tbody>
   <tr *ngFor="let name of customers">
      <td>{{name.customerID}}</td>
      <td>{{name.firstName}}</td>
      <td>{{name.lastName}}</td>
      <td>{{name.phone}}</td>
   </tr>
   </tbody>
</table>
