table {
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.table   {
   color: white;
   width: 56%;
   margin-top: 0;
   padding-top: 0;
   margin-left: 22%;
   margin-bottom: 4vw;
}
